.decoration__lines {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  z-index: -10; }
  .decoration__lines__line {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: #2d2d2d;
    opacity: 0.55;
    z-index: -10; }
    .decoration__lines__line-1 {
      left: 12%; }
      @media screen and (max-width: 450px) {
        .decoration__lines__line-1 {
          left: 30%; } }
      @media screen and (min-width: 451px) and (max-width: 900px) {
        .decoration__lines__line-1 {
          left: 25%; } }
    .decoration__lines__line-2 {
      left: 32%; }
      @media screen and (max-width: 450px) {
        .decoration__lines__line-2 {
          display: none; } }
      @media screen and (min-width: 451px) and (max-width: 900px) {
        .decoration__lines__line-2 {
          left: 50%;
          display: block; } }
    .decoration__lines__line-3 {
      left: 60%; }
      @media screen and (max-width: 450px) {
        .decoration__lines__line-3 {
          display: none; } }
      @media screen and (min-width: 451px) and (max-width: 900px) {
        .decoration__lines__line-3 {
          display: none; } }
    .decoration__lines__line-4 {
      left: 88%; }
      @media screen and (max-width: 450px) {
        .decoration__lines__line-4 {
          left: 70%; } }
      @media screen and (min-width: 451px) and (max-width: 900px) {
        .decoration__lines__line-4 {
          left: 75%; } }

a,
a:link,
a:visited,
a:focus {
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto"; }

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../../fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: "Merriweather", serif;
  src: url(../../fonts/Merriweather-Regular.ttf); }

@font-face {
  font-family: "Basis Grotesque Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: url(../../fonts/BasisGrotesquePro-Light.ttf); }

.heading-2 {
  font-family: "Basis Grotesque Pro";
  opacity: 0.8;
  font-size: 7rem;
  color: #151615; }
  @media only screen and (max-width: 1400px) {
    .heading-2 {
      font-size: 6rem; } }

.text {
  padding: 0.5rem;
  font-size: 2rem;
  opacity: 0.6;
  color: #777; }

.heading-3 {
  width: 80%;
  margin: auto;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 5rem;
  text-transform: uppercase;
  color: transparent;
  position: relative;
  font-family: "Basis Grotesque Pro";
  opacity: 0.8;
  color: #777;
  z-index: -1; }
  @media screen and (min-width: 800px) {
    .heading-3 {
      font-size: 6.5rem; } }
  @media screen and (min-width: 1200px) {
    .heading-3 {
      font-size: 8rem; } }
  @media screen and (min-width: 1600px) {
    .heading-3 {
      font-size: 9.5rem; } }

.number {
  font-size: 1.5rem;
  font-family: "Roboto";
  color: #fff;
  padding: 2.5rem; }

@media (hover: none) {
  .cursor {
    display: none; } }

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none; }

.cursor--small {
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: #fff; }

.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000; }

.main__button {
  background: none;
  border: 0; }

.navigation {
  height: 10vh;
  height: calc(var(--vh, 1vh) * 10);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  z-index: 10100; }
  .navigation__logo {
    font-family: "Merriweather";
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2rem; }
    .navigation__logo::first-letter {
      font-size: 4rem; }
    @media screen and (min-width: 800px) {
      .navigation__logo {
        font-size: 3rem; } }
    @media screen and (min-width: 950px) {
      .navigation__logo {
        margin: 0.5rem 2.5rem; } }
  .navigation__menu {
    width: 3rem;
    height: auto;
    z-index: 300;
    position: sticky;
    top: 2rem; }
    .navigation__menu > line {
      stroke: white; }
    .navigation__menu:hover > line {
      stroke: #ff0000; }
    @media screen and (min-width: 800px) {
      .navigation__menu {
        width: 3.4rem; } }
    @media screen and (min-width: 950px) {
      .navigation__menu {
        margin: 0.5rem 2.5rem; } }

.navigation__open {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10110;
  width: 100%;
  height: 60vh;
  height: calc(var(--vh, 1vh) * 60);
  background-color: #fff;
  display: grid;
  grid-template-rows: 10vh 0.5fr 1fr 1fr;
  justify-items: center;
  transform: translateY(-800%); }
  @media only screen and (max-width: 800px) {
    .navigation__open {
      grid-template-rows: 10vh 6rem 1.5fr 0.5fr;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100); } }
  .navigation__open__box {
    grid-row: 1/2;
    width: 100%;
    height: 10vh;
    height: calc(var(--vh, 1vh) * 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem; }
  .navigation__open__wrapper {
    width: 100%;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    @media only screen and (max-width: 800px) {
      .navigation__open__wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: center; } }
    .navigation__open__wrapper__home {
      list-style: none;
      position: relative; }
      .navigation__open__wrapper__home:before {
        content: "01";
        position: absolute;
        font-size: 14rem;
        z-index: -1;
        color: #000;
        opacity: 0.1;
        left: 50%;
        top: -50%;
        font-weight: 900; }
        @media only screen and (max-width: 1200px) {
          .navigation__open__wrapper__home:before {
            font-size: 12rem; } }
        @media only screen and (max-width: 1200px) {
          .navigation__open__wrapper__home:before {
            display: none; } }
    .navigation__open__wrapper__portfolio {
      list-style: none;
      position: relative; }
      .navigation__open__wrapper__portfolio:before {
        content: "02";
        position: absolute;
        font-size: 14rem;
        z-index: -1;
        color: #000;
        opacity: 0.1;
        left: 50%;
        top: -50%;
        font-weight: 900; }
        @media only screen and (max-width: 1200px) {
          .navigation__open__wrapper__portfolio:before {
            font-size: 12rem; } }
        @media only screen and (max-width: 1200px) {
          .navigation__open__wrapper__portfolio:before {
            display: none; } }
    .navigation__open__wrapper__videos {
      list-style: none;
      position: relative; }
      .navigation__open__wrapper__videos:before {
        content: "03";
        position: absolute;
        font-size: 14rem;
        z-index: -1;
        color: #000;
        opacity: 0.1;
        left: 50%;
        top: -50%;
        font-weight: 900; }
        @media only screen and (max-width: 1200px) {
          .navigation__open__wrapper__videos:before {
            font-size: 12rem; } }
        @media only screen and (max-width: 1200px) {
          .navigation__open__wrapper__videos:before {
            display: none; } }
    .navigation__open__wrapper__contact {
      list-style: none;
      position: relative; }
      .navigation__open__wrapper__contact:before {
        content: "04";
        position: absolute;
        font-size: 14rem;
        z-index: -1;
        color: #000;
        opacity: 0.1;
        left: 50%;
        top: -50%;
        font-weight: 900; }
        @media only screen and (max-width: 1200px) {
          .navigation__open__wrapper__contact:before {
            font-size: 12rem; } }
        @media only screen and (max-width: 1200px) {
          .navigation__open__wrapper__contact:before {
            display: none; } }
  .navigation__open__footer {
    grid-row: 4/5;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    padding: 0 3rem;
    z-index: 30; }
    @media only screen and (max-width: 520px) {
      .navigation__open__footer {
        flex-direction: column; } }
    .navigation__open__footer__box {
      display: flex;
      align-items: center;
      flex-direction: row; }
      .navigation__open__footer__box__boxes {
        padding: 2.2rem;
        z-index: 30; }
    @media only screen and (max-width: 350px) {
      .navigation__open__footer__text {
        font-size: 1.6rem; } }

.logo__black {
  color: #000; }

.menu__close line {
  stroke: #000; }

.menu {
  z-index: 300; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none; }

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../../fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: "Merriweather", serif;
  src: url(../../fonts/Merriweather-Regular.ttf); }

.body {
  font-family: "Roboto";
  background-color: #151615;
  background-size: cover;
  font-size: 62.5%;
  overflow: hidden; }
  @media only screen and (max-width: 1100px) {
    .body {
      font-size: 55%; } }

.container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow: hidden;
  cursor: none; }

.pages {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4; }
  .pages__dots {
    display: flex;
    align-items: center;
    justify-content: center; }
    .pages__dots__svg {
      opacity: 0.6;
      transform: scale(1.4); }

.social {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-45%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 5; }
  @media only screen and (max-width: 1100px) {
    .social {
      display: none; } }
  .social__box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem; }
    @media only screen and (max-width: 1050px) {
      .social__box {
        height: 1.8rem;
        width: 1.5rem;
        padding: 4.4rem; } }

.active {
  opacity: 1; }

.portrait__page {
  height: 90vh;
  height: calc(var(--vh, 1vh) * 90);
  width: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 10%; }
  @media only screen and (max-width: 1050px) {
    .portrait__page {
      grid-template-columns: 10% 0.5fr 0.5fr 1fr 10%; } }
  @media only screen and (max-width: 800px) {
    .portrait__page {
      grid-template-columns: 10% 0.5fr 1fr 10%; } }
  @media only screen and (max-width: 560px) {
    .portrait__page {
      grid-template-columns: 15% 1fr 15%; } }
  @media only screen and (max-width: 425px) {
    .portrait__page {
      grid-template-columns: 10% 1fr 10%; } }
  @media only screen and (max-width: 380px) {
    .portrait__page {
      grid-template-columns: 5% 1fr 5%; } }
  .portrait__page__wrapper {
    grid-column: 4/5;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 800px) {
      .portrait__page__wrapper {
        grid-column: 3/4; } }
    @media only screen and (max-width: 560px) {
      .portrait__page__wrapper {
        grid-column: 2/3; } }
    .portrait__page__wrapper::before {
      content: "PORTRAIT";
      font-family: "Roboto";
      font-weight: 900;
      font-size: 18rem;
      z-index: 3;
      position: absolute;
      top: 30%;
      left: -115%;
      text-transform: uppercase;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ffffff;
      color: transparent;
      font-size: 18rem;
      top: 30%;
      left: -135%; }
      @media only screen and (max-width: 1650px) {
        .portrait__page__wrapper::before {
          left: -135%; } }
      @media only screen and (max-width: 1445px) {
        .portrait__page__wrapper::before {
          font-size: 15rem;
          top: 35%;
          left: -140%; } }
      @media only screen and (max-width: 1150px) {
        .portrait__page__wrapper::before {
          font-size: 13rem;
          left: -145%; } }
      @media only screen and (max-width: 1050px) {
        .portrait__page__wrapper::before {
          font-size: 11.5rem;
          top: 45%;
          left: -90%; } }
      @media only screen and (max-width: 800px) {
        .portrait__page__wrapper::before {
          left: -60%;
          top: 45%; } }
      @media only screen and (max-width: 670px) {
        .portrait__page__wrapper::before {
          font-size: 9rem; } }
      @media only screen and (max-width: 560px) {
        .portrait__page__wrapper::before {
          font-size: 8rem;
          left: -20%;
          top: 55%; } }
      @media only screen and (max-width: 480px) {
        .portrait__page__wrapper::before {
          font-size: 6rem;
          left: -20%; } }
      @media only screen and (max-width: 425px) {
        .portrait__page__wrapper::before {
          left: -10%;
          top: 60%; } }
      @media only screen and (max-width: 380px) {
        .portrait__page__wrapper::before {
          left: 0%;
          top: 60%; } }
      @media only screen and (max-width: 1650px) {
        .portrait__page__wrapper::before {
          left: -165%; } }
      @media only screen and (max-width: 1445px) {
        .portrait__page__wrapper::before {
          font-size: 15rem;
          top: 35%;
          left: -170%; } }
      @media only screen and (max-width: 1150px) {
        .portrait__page__wrapper::before {
          font-size: 12rem;
          left: -160%; } }
      @media only screen and (max-width: 1050px) {
        .portrait__page__wrapper::before {
          font-size: 11rem;
          top: 45%;
          left: -90%; } }
      @media only screen and (max-width: 800px) {
        .portrait__page__wrapper::before {
          left: -60%;
          top: 45%; } }
      @media only screen and (max-width: 670px) {
        .portrait__page__wrapper::before {
          font-size: 9rem; } }
      @media only screen and (max-width: 560px) {
        .portrait__page__wrapper::before {
          font-size: 8rem;
          left: -20%;
          top: 55%; } }
      @media only screen and (max-width: 480px) {
        .portrait__page__wrapper::before {
          font-size: 6rem;
          left: -20%; } }
      @media only screen and (max-width: 425px) {
        .portrait__page__wrapper::before {
          left: -10%;
          top: 60%; } }
      @media only screen and (max-width: 380px) {
        .portrait__page__wrapper::before {
          left: 0%;
          top: 60%; } }
    .portrait__page__wrapper::after {
      content: "01";
      font-family: "Roboto";
      font-size: 10rem;
      z-index: 3;
      position: absolute;
      bottom: 8%;
      right: -10%;
      text-transform: uppercase;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fbf8f8;
      color: transparent; }
      @media only screen and (max-width: 1900px) {
        .portrait__page__wrapper::after {
          bottom: 15%; } }
      @media only screen and (max-width: 1445px) {
        .portrait__page__wrapper::after {
          font-size: 8rem;
          bottom: 22%; } }
      @media only screen and (max-width: 1300px) {
        .portrait__page__wrapper::after {
          font-size: 8rem;
          bottom: 25%; } }
      @media only screen and (max-width: 1050px) {
        .portrait__page__wrapper::after {
          font-size: 7rem;
          bottom: 15rem; } }
      @media only screen and (max-width: 800px) {
        .portrait__page__wrapper::after {
          display: none; } }
    .portrait__page__wrapper__image {
      transform: translateY(-10%);
      width: 100%;
      height: auto; }

.nature__page {
  height: 90vh;
  height: calc(var(--vh, 1vh) * 90);
  width: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 10%;
  overflow: hidden; }
  @media only screen and (max-width: 1050px) {
    .nature__page {
      grid-template-columns: 10% 0.5fr 0.5fr 1fr 10%; } }
  @media only screen and (max-width: 800px) {
    .nature__page {
      grid-template-columns: 10% 0.5fr 1fr 10%; } }
  @media only screen and (max-width: 560px) {
    .nature__page {
      grid-template-columns: 15% 1fr 15%; } }
  @media only screen and (max-width: 425px) {
    .nature__page {
      grid-template-columns: 5% 1fr 5%; } }
  @media only screen and (max-width: 380px) {
    .nature__page {
      grid-template-columns: 5% 1fr 5%; } }
  .nature__page__wrapper {
    grid-column: 4/5;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 800px) {
      .nature__page__wrapper {
        grid-column: 3/4; } }
    @media only screen and (max-width: 560px) {
      .nature__page__wrapper {
        grid-column: 2/3; } }
    .nature__page__wrapper::before {
      content: "NATURE";
      font-family: "Roboto";
      font-weight: 900;
      font-size: 18rem;
      z-index: 3;
      position: absolute;
      top: 30%;
      left: -115%;
      text-transform: uppercase;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ffffff;
      color: transparent; }
      @media only screen and (max-width: 1650px) {
        .nature__page__wrapper::before {
          left: -135%; } }
      @media only screen and (max-width: 1445px) {
        .nature__page__wrapper::before {
          font-size: 15rem;
          top: 35%;
          left: -140%; } }
      @media only screen and (max-width: 1150px) {
        .nature__page__wrapper::before {
          font-size: 13rem;
          left: -145%; } }
      @media only screen and (max-width: 1050px) {
        .nature__page__wrapper::before {
          font-size: 11.5rem;
          top: 45%;
          left: -90%; } }
      @media only screen and (max-width: 800px) {
        .nature__page__wrapper::before {
          left: -60%;
          top: 45%; } }
      @media only screen and (max-width: 670px) {
        .nature__page__wrapper::before {
          font-size: 9rem; } }
      @media only screen and (max-width: 560px) {
        .nature__page__wrapper::before {
          font-size: 8rem;
          left: -20%;
          top: 55%; } }
      @media only screen and (max-width: 480px) {
        .nature__page__wrapper::before {
          font-size: 6rem;
          left: -20%; } }
      @media only screen and (max-width: 425px) {
        .nature__page__wrapper::before {
          left: -10%;
          top: 60%; } }
      @media only screen and (max-width: 380px) {
        .nature__page__wrapper::before {
          left: 0%;
          top: 60%; } }
    .nature__page__wrapper::after {
      content: "02";
      font-family: "Roboto";
      font-size: 10rem;
      z-index: 3;
      position: absolute;
      bottom: 8%;
      right: -10%;
      text-transform: uppercase;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fbf8f8;
      color: transparent; }
      @media only screen and (max-width: 1900px) {
        .nature__page__wrapper::after {
          bottom: 15%; } }
      @media only screen and (max-width: 1445px) {
        .nature__page__wrapper::after {
          font-size: 8rem;
          bottom: 22%; } }
      @media only screen and (max-width: 1300px) {
        .nature__page__wrapper::after {
          font-size: 8rem;
          bottom: 25%; } }
      @media only screen and (max-width: 1050px) {
        .nature__page__wrapper::after {
          font-size: 7rem;
          bottom: 15rem; } }
      @media only screen and (max-width: 800px) {
        .nature__page__wrapper::after {
          display: none; } }
    .nature__page__wrapper__image {
      transform: translateY(-10%);
      width: 100%;
      height: auto; }

.others__page {
  height: 90vh;
  height: calc(var(--vh, 1vh) * 90);
  width: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 10%;
  overflow: hidden; }
  @media only screen and (max-width: 1050px) {
    .others__page {
      grid-template-columns: 10% 0.5fr 0.5fr 1fr 10%; } }
  @media only screen and (max-width: 800px) {
    .others__page {
      grid-template-columns: 10% 0.5fr 1fr 10%; } }
  @media only screen and (max-width: 560px) {
    .others__page {
      grid-template-columns: 15% 1fr 15%; } }
  @media only screen and (max-width: 425px) {
    .others__page {
      grid-template-columns: 5% 1fr 5%; } }
  @media only screen and (max-width: 380px) {
    .others__page {
      grid-template-columns: 5% 1fr 5%; } }
  .others__page__wrapper {
    grid-column: 4/5;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 800px) {
      .others__page__wrapper {
        grid-column: 3/4; } }
    @media only screen and (max-width: 560px) {
      .others__page__wrapper {
        grid-column: 2/3; } }
    .others__page__wrapper::before {
      content: "OTHERS";
      font-family: "Roboto";
      font-weight: 900;
      font-size: 18rem;
      z-index: 3;
      position: absolute;
      top: 30%;
      left: -115%;
      text-transform: uppercase;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ffffff;
      color: transparent; }
      @media only screen and (max-width: 1650px) {
        .others__page__wrapper::before {
          left: -135%; } }
      @media only screen and (max-width: 1445px) {
        .others__page__wrapper::before {
          font-size: 15rem;
          top: 35%;
          left: -140%; } }
      @media only screen and (max-width: 1150px) {
        .others__page__wrapper::before {
          font-size: 13rem;
          left: -145%; } }
      @media only screen and (max-width: 1050px) {
        .others__page__wrapper::before {
          font-size: 11.5rem;
          top: 45%;
          left: -90%; } }
      @media only screen and (max-width: 800px) {
        .others__page__wrapper::before {
          left: -60%;
          top: 45%; } }
      @media only screen and (max-width: 670px) {
        .others__page__wrapper::before {
          font-size: 9rem; } }
      @media only screen and (max-width: 560px) {
        .others__page__wrapper::before {
          font-size: 8rem;
          left: -20%;
          top: 55%; } }
      @media only screen and (max-width: 480px) {
        .others__page__wrapper::before {
          font-size: 6rem;
          left: -20%; } }
      @media only screen and (max-width: 425px) {
        .others__page__wrapper::before {
          left: -10%;
          top: 60%; } }
      @media only screen and (max-width: 380px) {
        .others__page__wrapper::before {
          left: 0%;
          top: 60%; } }
    .others__page__wrapper::after {
      content: "03";
      font-family: "Roboto";
      font-size: 10rem;
      z-index: 3;
      position: absolute;
      bottom: 8%;
      right: -10%;
      text-transform: uppercase;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fbf8f8;
      color: transparent; }
      @media only screen and (max-width: 1900px) {
        .others__page__wrapper::after {
          bottom: 15%; } }
      @media only screen and (max-width: 1445px) {
        .others__page__wrapper::after {
          font-size: 8rem;
          bottom: 22%; } }
      @media only screen and (max-width: 1300px) {
        .others__page__wrapper::after {
          font-size: 8rem;
          bottom: 25%; } }
      @media only screen and (max-width: 1050px) {
        .others__page__wrapper::after {
          font-size: 7rem;
          bottom: 15rem; } }
      @media only screen and (max-width: 800px) {
        .others__page__wrapper::after {
          display: none; } }
    .others__page__wrapper__image {
      transform: translateY(-10%);
      width: 100%;
      height: auto; }

.nature__page,
.others__page {
  position: absolute;
  top: 10%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  display: none; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none; }

a {
  text-decoration: none;
  color: #fff; }

body {
  font-family: "Roboto";
  background-color: #151615;
  font-size: 62.5%;
  overflow: hidden; }
  @media only screen and (max-width: 1100px) {
    body {
      font-size: 55%; } }

.video {
  background: linear-gradient(rgba(14, 14, 14, 0.8), rgba(14, 14, 14, 0.8)), url(https://media.giphy.com/media/ln1YwQUjRCBVRpHvVq/giphy.gif) no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  position: relative; }

.container__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .container__video__title {
    top: 35%;
    left: 37%;
    z-index: 2;
    text-transform: uppercase;
    font-size: 8rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    color: transparent; }
    @media only screen and (max-width: 650px) {
      .container__video__title {
        font-size: 6rem; } }
    @media only screen and (max-width: 450px) {
      .container__video__title {
        font-size: 4rem; } }

.watch {
  position: absolute;
  top: 90%;
  right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 500px) {
    .watch {
      left: 50%;
      transform: translate(-50%, -50%);
      justify-content: center; } }
  .watch__title {
    color: #f1f1f1;
    font-size: 2rem;
    opacity: 0.7; }
  .watch svg {
    fill: #fff; }

.social__video {
  position: absolute;
  top: 90%;
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 500px) {
    .social__video__hide {
      display: none; } }
  .social__video__box {
    padding: 3rem; }

.gallery {
  background-color: #171717;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden; }
  .gallery__portraits {
    z-index: -1;
    width: 80%;
    margin: 50px auto; }
  .gallery__nature {
    width: 80%;
    margin: 50px auto; }
  .gallery__others {
    width: 80%;
    margin: 50px auto; }

.item {
  width: 100%; }
